
  .box{
    border: 2px solid;
    width: 100px;
    height: 100px;
    animation-name: point2;
animation-duration: 10s;
color: blue;
  }
   @keyframes point2{
    
    0%,100%{transform: translate(0,0)
        
        }
        25%{transform: translate(200%,0)
        
        }
        50%{transform: translate(200%,200%)
                }
        75%{transform: translate(0,200%)
        
                }
    /* 0%,100%{
        transform: translateX(0)
        translateY(0);
        }
        25%{
          transform: translateX(200%)
          translateY(0);
          }
          50%{
            transform: translateX(200%)
            translateY(200%);
            }
            75%{
              transform: translateX(0%)
              translateY(200%);
              } */
  }

 
   
  